<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(90deg, #cb2d3e, #a73737) !important; margin-bottom: 0px !important; font-weight: strong !important;">
  <div class="container well well-lg" style="background: linear-gradient(90deg, #cb2d3e, #a73737); border: 0px solid #e3e3e3 !important;">
    <h1>Awards:</h1>
    <br><br>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= image_tag("laurels/File_000.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= image_tag("laurels/newwest.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= image_tag("laurels/creation.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= image_tag("laurels/cinemaworld.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= image_tag("laurels/directorscut.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= image_tag("laurels/durham.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= image_tag("laurels/airdrie.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= image_tag("laurels/ftmac.png", class: "img-responsive") %> <br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= image_tag("laurels/regina.png", class: "img-responsive") %> <br>
      </div>
  </div>
</div>
