<div class="container" style="padding-top: 13px;">
    <div class="row imagetiles">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/bhallas.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/chuch1.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/city1.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/city2.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/City3.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/devastation1.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/devastation3.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/fire2.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/fire3.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/firefighter1.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/firefighter2.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/FortMacStrong.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/harvey1.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/harvey2.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/mrbarr.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/paint1.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/parade3.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/plane1.jpg", class: "img-responsive") %> <br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <%= image_tag("hd_stills/Productionshot.jpg", class: "img-responsive") %> <br>
        </div>
    </div>
</div>
